.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h
config.h.in
config.status
configure
discid
flactag
flactag.1
flactag.1.xml
flactag.html
libtool
ripflac
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
manpage.links
manpage.refs
