Source: flactag
Section: sound
Priority: optional
Maintainer: Andy Hawkins <andy@gently.org.uk>
Build-Depends: debhelper (>= 5),libmusicbrainz3-dev,libdiscid0-dev,libslang1-dev,libflac++-dev,libhttpfetcher-dev,libjpeg62-dev,libunac1-dev,asciidoc
Standards-Version: 3.7.2

Package: flactag
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libflac++6(>=1.2.1)
Recommends: cdrdao
Description: A tagger for whole album FLACs using data from MusicBrainz
 A tagger for whole album FLAC files with embedded CUE sheets. Data for the 
 tags is retrieved from the MusicBrainz service
