Source: flactag
Section: sound
Priority: optional
Maintainer: Andy Hawkins <andy@gently.org.uk>
Build-Depends: cdbs, debhelper (>= 5),libmusicbrainz4-dev(>=4.0.0),libdiscid0-dev,libslang2-dev,libflac++-dev,libneon27-gnutls-dev,libjpeg62-dev,libunac1-dev,asciidoc,xmlto
Standards-Version: 3.9.3

Package: flactag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: cdrdao, cdparanoia
Homepage: http://software.gently.org.uk/flactag
Description: Tagger for whole album FLAC files using data from MusicBrainz
 Tagger for whole album FLAC files with embedded CUE sheets.
 Data for the tags is retrieved from the MusicBrainz service. Tags are
 written as VORBIS comments, and the application has the ability to rename
 a file based on the tags using a user-specified template.
 .
 flactag can be run either interactively (to allow the user to select which of
 the results to tag the file with), or in batch mode (allowing files to be
 checked regularly for changes,  and optionally to apply these changes
 automatically).
